.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.entry-container {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 115%; 
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #000;
  z-index: 2;
}

.entry-container:hover .tooltip {
  display: block;
}


.entry {
  background: #b0b9e8;
  border-radius: 77px; 
  height: 30px;
  
}

.sidebar {
  height: 95%;
  width: 300px;
  position: fixed;
  
  top: 0;
  right: 0;
  background-color: Grey;
  overflow-x: scroll;
  padding-top: 20px;
  align-content: center;
}

.sidebar p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;


}

.sidebar p:hover {
  color: blue;
  background-color: white;
}

.main{
  height: 100%;
  padding-top: 30px;
  font-size: 20px;
}